
doctype html
html(lang="en-us")
    head
        meta(charset="utf-8")
        title= poem
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css')

        link(rel="stylesheet", href="/css/sketch.css")
        script(language="javascript" type="text/javascript" src="js/lib/jquery-2.1.3.min.js")
        script(language="javascript" type="text/javascript").
            var thisPage = "#{title}",
                nextPage = "#{next_page}",
                sketchSelfTotSettings = {
                    'isSelfTot': true,
                    'personality': Number('#{session.selfTotSettings.personality}'),
                    'sensitivity': Number('#{session.selfTotSettings.sensitivity}'),
                    'introversion': Number('#{session.selfTotSettings.introversion}')
                },
                sliderSettings = {
                  'totSlider': Number('#{session.sliderSettings.totSlider}'),
                  'diversitySlider': Number('#{session.sliderSettings.diversitySlider}'),
                  'sensitivitySlider': Number('#{session.sliderSettings.sensitivitySlider}'),
                  'bounceSlider': Number('#{session.sliderSettings.bounceSlider}'),
                  'pairSlider': Number('#{session.sliderSettings.pairSlider}'),
                  'backgroundSlider': Number('#{session.sliderSettings.backgroundSlider}'),
                  'gazeSlider': Number('#{session.sliderSettings.gazeSlider}'),
                  'tensionSlider': Number('#{session.sliderSettings.tensionSlider}'),
                  'bodySlider': Number('#{session.sliderSettings.bodySlider}')
                },
                globals = {
                    'gazeValue': 1,
                    'tensionValue': 1,
                    'bodyValue': 1,
                    'activeTotMode': 1
                };
        script( language="javascript" type="text/javascript" src="js/lib/p5.js")
        script( language="javascript" type="text/javascript" src="js/lib/p5.dom.js")
        script( language="javascript" type="text/javascript" src="js/equations.js")
        script( language="javascript" type="text/javascript" src="js/Tot.js")
        script( language="javascript" type="text/javascript" src="js/TotSystem.js")
        script(type='text/javascript' src="js/sketch.js")
    body
        div(class="black-screen visible")
        div(class="main-container")
            div(id="side-bar" class="side-bar hidden")
                div( class="side-bar-header")
                    h1(id="side-bar-toggle" class="header") Settings
                ul( id="control-panel" class="control-panel")
                    li( class="tier-1-menu-item")
                        label( for="space-menu-toggle" class="tier-1-label") Environment
                        input( id="space-menu-toggle" name="space-menu-toggle" type="checkbox" class="")
                        ul( class="tier-2-control-panel space")
                            li( class="tier-2-control switch item")
                                h3( class="control-header") Boundaries
                                div(class="control-container")
                                    div( class="switch-label")
                                        span( class="label-contents")
                                            img( class="label-image" src="img/bounce-icon.png")
                                    div( id="bounce-slider" class="switch-container")
                                    div( class="switch-label")
                                        span( class="label-contents")
                                            img( class="label-image" src="img/portal-icon.png")
                            li( class="tier-2-control item")
                                h3( class="control-header") Background
                                div(class="control-container")
                                    div( class="control-label")
                                        span( class="label-contents") Dark
                                    div( id="background-slider" class="slider-container")
                                    div( class="control-label")
                                        span( class="label-contents") Light
                            li( class="tier-2-control item")
                                h3( class="control-header") Crowded
                                div(class="control-container")
                                    div( class="control-label")
                                        span( class="label-contents") Sparse
                                    div( id="tot-slider" class="slider-container")
                                    div( class="control-label")
                                        span( class="label-contents") Dense
                    li( class="tier-1-menu-item")
                        label( for="display-menu-toggle" class="tier-1-label") Display
                        input( id="display-menu-toggle" name="display-menu-toggle" type="checkbox" class="")
                        ul( class="tier-2-control-panel display")
                            li( class="tier-2-control item toggle")
                                div(class="control-container switch")
                                    h3( class="control-header") Gaze
                                    div( id="gaze-slider" class="switch-container")
                            li( class="tier-2-control item toggle")
                                div(class="control-container switch")
                                    h3( class="control-header") Tension
                                    div( id="tension-slider" class="switch-container")
                            li( class="tier-2-control item toggle")
                                div(class="control-container switch")
                                    h3( class="control-header") Body
                                    div( id="body-slider" class="switch-container")
                    li( class="tier-1-menu-item social")
                        label( for="social-menu-toggle" class="tier-1-label") Social
                        input( id="social-menu-toggle" name="social-menu-toggle" type="checkbox" class="")
                        ul( class="tier-2-control-panel social")
                            li( class="tier-2-control switch item")
                                h3( class="control-header") Social Behavior
                                div(class="control-container")
                                    div( class="switch-label")
                                        span( class="label-contents") Grouping
                                    div( id="pair-slider" class="switch-container")
                                    div(class="switch-label")
                                        span( class="label-contents") Pairing
                            li( class="tier-2-control item")
                                h3( class="control-header") Personality
                                div(class="control-container")
                                    div( class="control-label")
                                        span( class="label-contents") Conform
                                    div( id="diversity-slider" class="slider-container")
                                    div( class="control-label")
                                        span( class="label-contents") Express
                    li( class="tier-1-menu-item")
                        label( for="self-menu-toggle" class="tier-1-label") Self
                        input( id="self-menu-toggle" name="self-menu-toggle" type="checkbox" class="")
                        ul( class="tier-2-control-panel self")
                            li( class="tier-2-control portrait")
                                div(id="tot-portrait" class="tot-portrait")
                                div(class="tot-shadow")
                            li( class="tier-2-control item toggle")
                                div(class="control-container stat")
                                    h3( class="control-header") Sensitivity
                                    div(class="stat-container")
                                        div(class="stat-bar")
                                            div(class="stat-value sensitivity")
                            li( id="active-tot-container" class="tier-2-control item active-tot toggle")
                                div(class="control-container switch")
                                    h3( class="control-header active-tot") Steer?
                                    div(id="active-tot-slider" class="switch-container")
                            li( class="active-tot tier-2-control tip")
                                p( class="control-tip-copy") 
                                    em Use arrow keys to steer.
            div(id="sketch-container" class="sketch-container")
            div(class="loop-button" id="loop-button") Loop
            div(id="status-bar" class="status-bar")
                div(class="next-button-container")
                    button(class="next-button" id="submit" type="submit") Continue?